<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fc185">  <td>18/08/03 16:13:15</td>   <td>0</td> <td title="&gt;&gt;AppTest.startappium()[pri:0, instance:SPAutomation.AppTest@4dfa3a9d]">&gt;&gt;startappium</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>18/08/03 16:14:12</td>   <td>56435</td> <td title="&lt;&lt;AppTest.stopServer()[pri:0, instance:SPAutomation.AppTest@4dfa3a9d]">&lt;&lt;stopServer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="6fc185">  <td>18/08/03 16:13:22</td>   <td>7234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test()[pri:0, instance:SPAutomation.AppTest@4dfa3a9d]">test</td> 
  <td>main@1847509784</td>   <td></td> </tr>
</table>
